<div id="chatforum-page">
	<div class="container">
		<div class="row" style="margin-top: 2em;">
			<div class="col-md-8">
				<h1 class="text-uppercase" id="x-name">
					<a style="color: #efefef; text-decoration: none;">ChatForum</a>
				</h1>
				<h4 class="chatforum-top">Written By : {{selectedChatForum.userId}}
					&nbsp;&nbsp; On {{selectedChatForum.postDate | date}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 chatforum-head" style="padding: 2em;">
				<div id="x-area">
					<p>{{selectedChatForum.description}}</p>
					<p class="author text-right">
						<strong>Best regards</strong> <br> <small>{{selectedChatForum.userId}}</small>
					</p>
				</div>
				<div class="col-md-8 like-chatforum" ng-hide="currentUser==''">
					<div class="like-btn-pos">
						<button type="button" class="btn-more chatforum-like-style"
							ng-click="ctrl.likeChatForum(selectedChatForum, selectedChatForum.id)">
							<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;Like&nbsp;&nbsp;
								<span>{{selectedChatForum.countLike}}</span> 
							</i> 
						</button>
					</div>
				</div>
				<!-- /chatforum-area -->

				<!-- chatforum-comment-area -->
				<div class="comment-zone">
					<div class="recent-comment">
						<h3 style="float: left; padding: 15px;">
							Recent <span style="color: #337ab7;">Comments</span>
						</h3>
						<div class="recent-comment-grids">
							<div class="recent-comment-grid">
								<div class="col-xs-10 recent-comment-grid-right"
									ng-repeat="chatforumComment in selectedChatForumComments">
									<h4 style="padding: 9px;">
										<a style="float: left;" href="#"><span
											style="color: black;">Comment By : </span>{{chatforumComment.userId}}</a>
									</h4>
									<p style="padding: 2em;">{{chatforumComment.comment}}</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<div ng-hide="currentUser==''">
						<div class="" style="padding: 1em;">
							<fieldset>
								<legend></legend>
								<h3>
									Leave a <span style="color: #337ab7;">Comment</span>
								</h3>
								<div class="form-inner">
									<form name="myForm" class="form-horizontal">
										<div class="one">
											<textarea type="text" required
												placeholder="Write your comment here..."
												ng-model="ctrl.chatforumComment.comment"></textarea>
										</div>
										<div>
											<input type="button"
												class="btn btn-info kp-button floatright"
												ng-click="ctrl.createChatForumComment(ctrl.chatforumComment, selectedChatForum.id); ctrl.countComment(selectedChatForum, selectedChatForum.id);"
												value="submit">
										</div>
									</form>
								</div>
							</fieldset>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- /forum-comment-area -->

			</div>
			<!-- /col-md-8 -->




			<div class="col-md-4 box" style="transform: rotate(15deg);">
				<div class="ribbon">
					<span>POPULAR</span>
				</div>
				<div class="widget">
					<div class="minor-header">
						<h4>
							<i class="fa fa-cubes fa-fw"></i> Other chatforums
						</h4>
					</div>
					<div class="media">
						<h4 class="media-heading">Media heading</h4>
						Cras sit amet nibh libero, in gravida nulla..
					</div>
					<div class="media">
						<h4 class="media-heading">Media heading</h4>
						Cras sit amet nibh libero, in gravida nulla..
					</div>
					<div class="media">
						<h4 class="media-heading">Media heading</h4>
						Cras sit amet nibh libero, in gravida nulla..
					</div>
					<div class="media">
						<h4 class="media-heading">Media heading</h4>
						Cras sit amet nibh libero, in gravida nulla..
					</div>
				</div>
				<!-- /widget -->
			</div>
			<!-- /col-md-4 -->

		</div>
	</div>
</div>
